In [1]:
import pandas as pd

ours = pd.read_csv("output_csv\Grilon BM 20 SBG natural (cond.)_23°C.csv")
theirs = pd.read_csv("baseset.csv")

In [2]:
ours

         Strain     Stress
0      0.000000   0.000000
1      0.900901   7.651365
2      1.801802  13.897741
3      2.702703  18.879256
4      3.603604  22.736040
..          ...        ...
995  896.396396  69.672829
996  897.297297  69.753399
997  898.198198  69.834776
998  899.099099  69.916971
999  900.000000  70.000000

[1000 rows x 2 columns]

In [3]:
theirs

         Strain     Stress
0      0.000000   6.615575
1      0.900901   8.829341
2      1.801802  11.816482
3      2.702703  15.193640
4      3.603604  18.136664
..          ...        ...
995  896.396396  69.689101
996  897.297297  69.786515
997  898.198198  69.791062
998  899.099099  69.777246
999  900.000000  70.000000

[1000 rows x 2 columns]

Test to see if all the strain values are roughly equal (within 6 decimal places). 

After some tuning, it appears that they are not the same within 12 decimal places, but for our purposes, 6 decimal places is enough.

In [32]:
all_equal = True
for i in range(1000):
    if(not(ours['Strain'].loc[i]-theirs['Strain'].loc[i] < 10**-6)): all_equal = False

In [33]:
all_equal

True

Given the fact that our strain values are the same, we can compute the distance between our csv and the one recieved from WebPlot Digitizer, by taking the average of the differences between each point.

In [35]:
num_points = 1000
sum(abs(ours['Strain'] - theirs['Strain'])) / num_points

2.557468348207692e-12

therefore, our csv file differs from the WebPlot Digitizer data, by 2e-10 [%]